<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667116282708-tppg2e58i1l2mp3829nnqq53t66u98ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667116282708-tppg2e58i1l2mp3829nnqq53t66u98ct</string>
	<key>API_KEY</key>
	<string>AIzaSyC4hJNlXvgZiVHWHOI-Juhp84J5cFa1FrU</string>
	<key>GCM_SENDER_ID</key>
	<string>667116282708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mixcosechasApp</string>
	<key>PROJECT_ID</key>
	<string>mixcosechas</string>
	<key>STORAGE_BUCKET</key>
	<string>mixcosechas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667116282708:ios:576e710053432eba8e5ec1</string>
</dict>
</plist>